.Navbar{
    display: flex;
    padding: 1px;
    float: left;
    width: 99%;
    justify-content: space-between;
    background-color: #D36582;
    margin: 0;
    padding: .5em;
}

.Navbar img{
    padding: 0;
    margin: 0;
    height: 4em;
    width: 4em;
}

.NavbarLinks a{
    display: block;
    color: #E4DFDA;
    text-align: center;
    padding: 1em 1.5em;
    text-decoration: none;
    font-size: 1.25em;
}